<div id="<%= dom_id street %>">
  <p>
    <strong>Nombre:</strong>
    <%= street.name %>
  </p>

  <p>
    <strong>Código de calle:</strong>
    <%= street.street_code %>
  </p>

  <p>
    <strong>Barrio:</strong>
    <%#= street.barrio.name %>
  </p>

</div>
