<p style="color: green"><%= notice %></p>

<h1>Personas</h1>

<div id="personas">
  <% @personas.each do |persona| %>
    <%= render persona %>
    <p>
      <%= link_to "Mostrar detalles de persona", persona %>
    </p>
  <% end %>
</div>

<%= link_to "Agregar persona", new_persona_path %>
