<h1>Editar barrio</h1>

<%= render "form", barrio: @barrio %>

<br>

<div>
  <%= link_to "Mostrar detalles de barrio", @barrio %> |
  <%= link_to "Volver al listado de barrios", barrios_path %>
</div>
